.investigate-container {
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.group-details {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.detail {
    flex: 1;
    padding: 10px;
    background-color: #d0cfcf;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.detail .label {
    font-weight: bold;
    margin-right: 5px;
}

.metrics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.metric {
    flex: 1 1 30%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.metric .label {
    font-weight: bold;
    margin-right: 5px;
}

.graphs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.graph {
    flex: 1 1 45%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.graph-placeholder {
    height: 200px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.exposure_charts_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
  }

.click_charts_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
}

.chart {
    flex: 1;
    margin: 0 50px;
}