.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* general_elements */
button {
  height: 100%;
  padding: 0 20px;
  border-radius: 30px;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color:rgb(179, 179, 179);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

button:active {
  background-color: rgb(140, 140, 140);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

input {
  height: 100%;
  border-radius: 30px;
  padding: 0 30px;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input:hover {
  background-color: #f0f0f0;
}

select {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: 0 30px;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  appearance: none;
  background: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20140%20140%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpolygon%20points%3D%2270%2C90%20120%2C40%2020%2C40%22%20style%3D%22fill%3Ablack%3B%22/%3E%3C/svg%3E') no-repeat right 10px center;
  background-size: 10px;
}

select:hover {
  background-color: #f0f0f0;
}

.page_main_box {
  margin: 0 auto;
  padding: 20px 0;
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.no_select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}