/* list_container */
.list_container {
  flex: 1;
  width: 100%;
  padding: 30px;
  border-radius: 30px;
  overflow: auto;
  position: relative;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.page_control_container {
  position: absolute;
  top: 5px;
  right: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  color: #d0d0d0;
}

.page_control_container span {
  color: #d0d0d0;
}
.page_control_container span:hover {
  color: #757575;
}
.page_control_container span:active {
  color: #3b3b3b;
}

.list_container table {
  width: 100%;
}

.list_container th {
  text-align: center;
  height:30px;
}

.list_container td {
  text-align: center;
  height:30px;
}

.list_container thead {
  background-color: rgb(179, 179, 179);
}

.list_container tbody tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

.list_container tbody tr:nth-child(even) {
  background-color: rgb(226, 226, 226);
}

.list_container tbody tr:hover {
  background-color: rgb(212, 228, 251);
}

.list_container tbody tr:active {
  background-color: rgb(166, 200, 248);
}

.list_container tbody tr.selected {
  background-color: rgb(165, 197, 243);
}