/* .function_bar_container {
    height: 40px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
  } */
  
/* .empty_bar_container {
  flex: 0;
} */

/* .input_entry_container {
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.input_entry_container input {
    width: 100%;
    padding-right: 40px;
} */